<div class="flex-c" id="ticker-wrapper">
	<div class="ticker container row-x1 section" id="ticker" name="Ticker News">
		<div class="widget HTML is-visible type-ticker" data-version="2" id="HTML20">
			<div class="widget-title">
				<h3 class="title">Breaking</h3></div>
			<div class="widget-content carousel slide" id="myCarousel" data-bs-ride="carousel">
				<div class="ticker-items carousel-inner">
					<div class="ticker-item item-0 carousel-item active">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2023/03/cheap-smart-phone-could-and-help-you.html" title="How Drones Could be the Future of Indian Farming">How Drones Could be the Future of Indian Farming</a></h2></div>
					<div class="ticker-item item-1 carousel-item">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2023/03/cheap-smart-phone-could-and-help-you_18.html" title="Cheap Smart Phone Could And Help You Old Food Safe">Cheap Smart Phone Could And Help You Old Food Safe</a></h2></div>
					<div class="ticker-item item-2 carousel-item">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2022/06/cheap-smart-phone-could-and-help-you_83.html" title="Donald Trump Back on Google-Owned YouTube: Read the Company's Statement">Donald Trump Back on Google-Owned YouTube: Read the Company's Statement</a></h2></div>
					<div class="ticker-item item-3 carousel-item">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2018/05/cheap-smart-phone-could-and-help-you.html" title="Another Country Bans TikTok on Government Devices">Another Country Bans TikTok on Government Devices</a></h2></div>
					<div class="ticker-item item-4 carousel-item">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2018/05/cheap-smart-phone-could-and-help-you_23.html" title="Realme 10 Receives a New Update for March 2023">Realme 10 Receives a New Update for March 2023</a></h2></div>
					<div class="ticker-item item-5 carousel-item">
						<h2 class="entry-title"><a href="https://webify-templateify.blogspot.com/2018/05/cheap-smart-phone-could-and-help-you_35.html" title="OpenAI Announces ChatGPT Successor GPT-4">OpenAI Announces ChatGPT Successor GPT-4</a></h2></div>
				</div>
				<div class="ticker-nav">
					<button class="tn-prev" data-bs-target="#myCarousel" data-bs-slide="prev" aria-label="Previous"></button>
					<button class="tn-next" data-bs-target="#myCarousel" data-bs-slide="next" aria-label="Next"></button>
				</div>
			</div>
		</div>
	</div>
</div>