
<section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div>
            <h6 class="firstp">WHO WE ARE</h6>
            <h1>Highly Tailored IT Design,<br>
              Management & Support<br>
              Services.</h1>
            <p class="smallpera">Accelerate innovation with world-class tech teams We'll match you to an entire<br>
              remote team of incredible freelance talent for all your software development<br>
              needs.</p>
          </div>
          <hr>
          <div class="small_box">
            <div class="row">
              <div class="col-md-6 signature">
                <div class="cont1">
                  <img src="http://balindra.com/post/images/img/signature.jpg" alt="">
                  <h6>Alen Morno sin</h6>
                  <span>CEO, Techmax</span>
                </div>
              </div>

              <div class="col-md-6">
                <div class="cont2">
                  <p>Call to ask any question</p>
                  <h4>0123-456-7890</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-right cylinderimg">
            <img src="http://balindra.com/post/images/img/tall.jpg" alt="" class="img-fluid">
            <div class="sqareimg">
              <img src="http://balindra.com/post/images/img/rectangle.jpeg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section2 bg-white">
    <h6 class="text-center">REASON TO CHOOSE US</h6>
    <h2 class="text-center">We provide truly prominent<br>
      IT solutions.</h2>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa-solid fa-newspaper"></i>
              </div>
              <h5 class="card-title">NEWS</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-cogs" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">TECHNOLOGY</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
              
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">JOBS</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
             
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-hospital" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">HEALTH</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa-solid fa-bullseye"></i>
              </div>
              <h5 class="card-title">MEDITATION</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">BUSINESS</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
              
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-snowflake" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">SCIENCE</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
            
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <h5 class="card-title">EDUCATION</h5>
              <p class="card-text">Accelerate innovation with world-class tech teams We'll match you to an entire.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

